/* Created areas for positioning of containers */
.first {
  grid-area: main;
}

.second {
  grid-area: other;
}

.third {
  grid-area: action;
}

body {
  background-image: linear-gradient(
    rgba(228, 134, 34, 0.6),
    rgba(155, 89, 182, 0.6)
  );
  background-size: cover;
  font-family: "Montserrat";
}

.form__container {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "main main main main main other"
    "main main main main main other"
    "main main main main main action";
  padding: 2.5rem;
}

.input__sections {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  border: 0 none;
  background: white;
  padding: 1.5rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 100%;
}

.regular__input {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80%;
  padding: 0.8rem;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 14px;
}

.checkbox__input {
  background: none;
}

.label__inside {
  position: absolute;
  margin-top: -15px;
  background: white;
  color: #280c38;
  text-align: center;
  vertical-align: bottom;
  font-weight: 400;
  margin-left: 1.25rem;
  padding-top: 0.25rem;
}

.checkbox__label {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #280c38;
}

.submit__form {
  margin-top: 2rem;
}

.submit__form .submit__input {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

.submit__form .submit__input:hover,
.submit__form .submit__input:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

.submit__form-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}

.submit__form-subtitle {
  font-weight: normal;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload:hover {
  background-color: thistle;
  border: 1px solid #1111;
  color: white;
}

.custom-file-upload {
  color: #280c38;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5rem;
  width: 6.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#color-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 4rem;
  height: 2rem;
}

#color-style::-webkit-color-swatch {
  border-radius: 1rem;
  border: none;
}

#color-style::-moz-color-swatch {
  border: none;
}

#textarea-id {
  resize: none;
}

.error {
  color: crimson;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.required:after {
  content: "*";
  color: red;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .form__container {
    display: grid;

    grid-template-areas:
      "main"
      "other"
      "action";
    padding: 2.5rem;
  }
}

/* For medium devices */
@media screen and (max-width: 576px) {
  .input__sections {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  .submit__form {
    width: inherit;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .regular__input {
    width: 7rem;
  }
}
